body {
  background-image: url(../Anime.jpg);
}
.App {
  font-family: sans-serif;
  align-items: center;
  display: flex;
}
header {
  position: fixed;
  top: 10px;
  left: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.navbar a {
  position: relative;
  align-items: flex;
  font-size: 14px;
  color: black;
  font-weight: 40px;
}
.btn-login {
  text-decoration: none;
  font-weight: 400;
  color: cadetblue;
  margin-left: 15px;
  background: black;
  cursor: pointer;
}
.input-up {
  top: 306px;
  right: 150px;
  display: relative;
  justify-content: space-between;
  position: center;
  color: white;
  background: ;
}
.sign {
  display: flex;
  position: relative;
  border-width: 2px;
  top: 150px;
  left: 60%;
  padding: 10px;
  border-block-color: black;
  justify-content: space-between;
}
.sign input {
  border-width: 5px;
  border-block-color: black;
  font: 10px;
}
.sign label {
  padding: 10px;
  font-weight: bold;
  color: aliceblue;
  border-radius: 5px;
  background: black;
  margin-left: 5px;
}
.btn-sign {
  display: center;
  padding: 8px;
  text-decoration: none;
  font-weight: 500;
  color: rgba(143, 89, 28, 0.993);
  margin-left: 15px;
  background: black;
  cursor: pointer;
  align-self: center;
  border-radius: 5px;
  font-weight: bold;
}
